body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont,"Segoe UI",SF UI Text, Roboto,"Helvetica Neue",Helvetica,sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
/* 	background-color: #f3f3f3; */
    font-weight: normal;
    font-style: normal;
}

.wrapper {
    margin: 0 auto;
}

/* HEADER */

.header {
	position: fixed;
	width: 100%;
	background-color: #f7f7f7;
    box-shadow: 0px 20px 80px 0px rgba(0,0,0,0.03);
	z-index: 999;
	box-sizing: border-box;
	padding: 5px 20px;
	height: 55px;
	overflow: hidden;
}

.header a {
	display: inline-block;
	font-size: 35px;
	font-family: 'Playfair Display';
	font-weight: bold;
}
.header img{
  width: 2em;
  margin-left:1em;
}

.header a {
	display: inline-block;
	text-decoration: none;
	color: black;
}

.header a:hover {
	 text-decoration: none;
 }

.header a:visited {
	 color: black;
 }

 .contact .icon  {
   display: none;
 }
 @media screen and (max-width: 300px){
    .item{
     display: none;
   }
    a.icon  {
    float: right;
    display: block;
  }
   }

   @media screen and (max-width: 600px){
     .navv.responsive {position: relative;}
  .navv.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navv.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
   }


 .contact, .contact a {
	float: right;
    font-weight: 400;
    font-size: calc(12px + .1vw);
    letter-spacing: 1px;
    opacity: .7;
	display: inline-block;

    font-family: -apple-system, BlinkMacSystemFont,"Segoe UI",SF UI Text, Roboto,"Helvetica Neue",Helvetica,sans-serif;
}

.contact a {
/* 	width: 50px; */
	text-align: center;
	margin: 10px 10px 0px 20px;
}

.contact a:hover {
/* 	font-weight: bold; */
	opacity: 1;
}


.twitter {
    padding: 10px 10px;
    margin-top: 0px !important;
    margin-right: 0px !important;
}

.twitter::before {

}


.read{
  margin-top: 1px;
}

/* INTRO */

.intro {
	width: 100%;
	min-height: 80vh;
/* 	padding-bottom: 4vw;  */
	box-sizing: border-box;
	display: flex;
	background-color: white;
}


.left, .right {
	padding: 5vw;
	margin-top: 60px;
	box-sizing: border-box;



}


.right {
	width: 40%;
}

.left {
	width: 60%;
	display: flex;
	justify-content: center;
	flex-direction: column;

}

.intro a:hover {
	text-decoration: underline;
}


/* FUN */

.hello {
	cursor: url('../img/cursors/hello.png'), auto;
}

.cuba {
	cursor: url('../img/cursors/cuba.png'), auto;
}

.design {
	cursor: url('../img/cursors/design.png'), auto;
}

.house {
	cursor: url('../img/cursors/house.png'), auto;
}

.ny {
	cursor: url('../img/cursors/ny.png'), auto;
}

.explore {
	cursor: url('../img/cursors/explore.png'), auto;
}


.technology {
	cursor: url('../img/cursors/technology.png'), auto;
}

.people {
	cursor: url('../img/cursors/people.png'), auto;
}

.safe {
	cursor: url('../img/cursors/safe.png'), auto;
}
.vr {
	cursor: url('../img/cursors/vr.png'), auto;
}

.content {
	cursor: url('../img/cursors/content.png'), auto;
}


.fb {
	cursor: url('../img/cursors/fb.png'), auto;
}

.connected {
	cursor: url('../img/cursors/connected.png'), auto;
}

.cars {
	cursor: url('../img/cursors/car.png'), auto;
}

.passion {
	cursor: url('../img/cursors/passion.png'), auto;
}

.mentorship {
	cursor: url('../img/cursors/mentorship.png'), auto;
}

.diversity {
	cursor: url('../img/cursors/diversity.png'), auto;
}

.transform {
	cursor: url('../img/cursors/transform.png'), auto;
}

.rule{
  background-color: #f8f8f8;
  margin-top: 2vw;
  width: 100%;
  height: 1px;
}
.rule1{
  background-color: #d7d7d7 ;
}
.storytelling {
	cursor: url('../img/cursors/storytelling.png'), auto;
}

.link {
	cursor: url('../img/cursors/link.png'), auto;
}

.thumb{

  width: 1vw;
}


/* ESSAYS */


.essays {
	padding: 4vw;
	padding-bottom: calc(40px + 4vw);
	background-color: #f7f7f7;
}

.stories{
  background-color: white;

}

.essays h2 {
	margin-left: -30px;
}

.essays ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	padding-top: 4vw;
}

.essays li {
	width: 30%;
    list-style-type: none !important;
    margin-right: 2vw;

    opacity: 0.7;
    transition: opacity 0.5s ease-out
}

.essays li:hover {
	opacity: 1;
}

.essays a {
	text-decoration: none;
}

.essays a:visited {
	color: black;
}

.button {
	display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 12px;
    padding: 8px 10px;
    color: inherit;
    border: 1px solid black;
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    opacity: 0.5;
    transition: opacity 0.2s,
    			background-color 0.2s,
    			box-shadow 0.2s,
    			border 0.2s;
}

.button:hover {
	opacity: 1;
	background-color: white;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, .2);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s,
    			background-color 0.3s,
    			box-shadow 0.3s,
    			border 0.3s;
}


/* WORK */


.work {
  -webkit-padding-start: 0;
    list-style-type: none !important;
    padding: 4vw;
    margin: 0 auto;
    background-color: white;
}

.section {
	width: 70vw;
	height: 39.32vw;
    margin: 20vw 0;
    position: relative;

    box-sizing: border-box;
    box-shadow: 0px 20px 80px 0px rgba(0,0,0,0.05);

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;

    transition: transform 0.5s ease-out, box-shadow 0.5s ease-out;
}

ul.work > :nth-child(2) {
    margin-top: 5vw;
}


.description {
	width: 100%;
	box-sizing: border-box;
	position: absolute;
    padding: 20px;
    background: rgba(255,255,255,0.93);
    box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.05);
    z-index: 2;
    transition: transform 0.5s ease-out, box-shadow 0.5s ease-out;
}


.video {
    position: absolute;
    top: 0;
    object-fit: cover;
    width: 100%;
    z-index: 1;
}

.facebook-spaces {
	color: #264D5B;
}


.facebook-360 {
	color:#41283B;
}

.fb-photos {
	color: #3857A2;
}


.talk-turkey {
	background-image: url(../img/talk-turkey.jpg);
	color: #396F66;
}


.peek {
	background-image: url(../img/peek.jpg);
	color: #683E1B;
}

.facebook-stories {
	background-image: url(../img/facebook-stories.jpg);
	color: #666;
}

.facebook-composer {
	background-image: url(../img/facebook-composer.jpg);
	color: #5D6B7F;
}

.facebook-pages {
	background-image: url(../img/facebook-pages.jpg);
	color: #4267B2;
}

.facebook-360 {
	background-image: url(../img/facebook-360.jpg);
}

.automatic {
	background-image: url(../img/automatic.jpg);
	color: #5F696F;
}




/* TYPOGRAPHY */


h1 {
    font-size: calc(24px + 2vw);
    line-height: calc(28px + 3.7vw);
    padding: 0px;
    font-family: 'Playfair Display';
    font-weight: normal;
    font-style: italic;
    text-align: left !important;
    position: absolute;
    margin-top: calc(-0px - 4vw);
}

h2 {
    font-size: calc(16px + 1.5vw);
    line-height: calc(18px + 2.5vw);
    display: block;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display';
    font-weight: 900;
}


h3 {
    font-size: calc(16px + 1.6vw);
    line-height: calc(20px + 1.8vw);
	color: #343434;
	margin-top: -20px;
	margin-bottom: 20px;
	padding: 0;
	font-family: 'Playfair Display';
	font-weight: 100;
}

h4 {
	font-family: 'Playfair Display';
	font-weight: bold;
    font-size: calc(18px + .5vw);
    margin: 0;
}


h5 {
	margin: 0;
	font-family: 'Playfair Display';
    font-size: calc(16px + .3vw);
/* 	font-style: italic; */
	font-weight: 300;
	opacity: .7;
	margin-top: 10px;
	margin-bottom: 10px;
}


h6 {
	margin: 0;
	opacity: .7;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 300;
	font-size: 12px;
	padding-bottom: 5px;
}


p {
    margin: 10px 0px;
    padding: 0;
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
}

a {
	text-decoration: none;
	color: black;
}

/* FOOTER */

footer {
	text-align: center;
	padding: 20px 0;
	opacity: .5;
}


footer p {
	font-size: 14px;
}

footer a, footer a:visited {
	text-decoration: none;
	color: black;
}

footer a:hover {
	text-decoration: underline;
}



/*-------- DESKTOP --------*/
@media only screen and (min-width: 721px)  {

.mobile {
	display: none;
}


.intro {
	background-image: url(../img/profile2.jpg);
	background-size: 72vh auto;
	background-repeat: no-repeat;
	background-position: 42vw 5vw;
}

.intro p {
/*     max-width: 570px; */
}



.section-active {
    transform: scale(0.98);
    box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.1);
}



li.section:nth-child(odd) {
	right: -25%;
}

.description {
    width: 50vw;
    max-width: 500px;
    position: absolute;
    right: -20vw;
    padding: 40px;
}


.description:hover {
    transform: scale(1.1);
    box-shadow: 0px 10px 60px 0px rgba(0,0,0,0.1);
}


li.section:nth-child(odd) .description {
    left: -20vw;
    right: auto;
}​


}

/*-------- DESKTOP -XL -------*/

@media only screen and (min-width: 960px)  {

.intro {
	background-position: 55vw 5vw;
}

}


/*-------- MOBILE --------*/
@media only screen and (max-width: 720px)  {



/* MOBILE */


.intro {
	padding-bottom: 8vw;
}


.desktop {
	display: none;
}

p {
    margin: 10px 0px;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
}

h3 {
	margin-top: 60px;
}


.left, .right {
	width: 100%;
}

.right {
/* 	display: none; */
	height: 400px;
	position:absolute;
	background-image: url(../img/profile.jpg);
	background-size: cover;
	background-position: center center;

}

.left {
	margin-top:400px;
}

.essays {
	padding-bottom: 6vw;
}

.essays ul {
	padding-top: 10vw;
}

.essays li {
	padding: 0;
	margin: 0;
	margin-bottom: 40px;
	width: 100% !important;
}

.essays li:nth-child(n+4) {
	display: none;
}

.video {
	display:none;
}


.section {
    margin-bottom: 5vw;
    margin-top: 5vw;
    overflow: hidden;
    height: calc(300px + 20vw);
}

.description {
	background-color: white;
}

li.section {
	width: 100%;
	margin-left: 0;
}

li.section .description {
    left: 0;
    right: auto;
    bottom: 0;
}​

li.section:nth-child(even) .description {
	right: 0;
	left: auto;
    bottom: 0;
}


.video {
	display: none;
}

.automatic {
	background-position-x: 0;
}

.peek {
	background-position-x: 20%;
}

.talk-turkey {
	background-position-x: 70%;
}

.fb-photos {
	background-position-x: 30%;
	background-image: url(../img/360-photos.jpg);
}


.facebook-360 {
/* 	background-image: url(../img/fb360-mobile.png); */
	background-size: 100% auto;
	background-position: center top;
	background-color: black;
}

.facebook-spaces {
	background-image: url(../img/fbspaces-mobile.png);
	background-position: center 10%;
	background-position-x: 10%;
}

}



/* TIMELINE */



.timeline {
	display: flex;
	flex-direction:column;
	width: 100%;
/*
	max-width: 960px;
	margin: 0 auto;
*/
}

.timeline > li {
/*   overflow: hidden; */
  margin: 0;
  position: relative;
  list-style-type: none;
  margin-bottom: -6px;
  display: block;
  width: 100%;
}

.timeline-date {
  width: 30px;
  float: left;
  margin-top: 16px;
  margin-right:20px;
  text-align: right;
}
.timeline-content {
  border-left: 1px #666 solid;
  padding-left: 20px;
  margin-left: 70px;
  word-wrap: break-word;
  display: block;
  padding: 16px 20px 0px 20px;
}

.timeline-content:before {
  position: absolute;
  content: '';
  width: 9px;
  height: 9px;
  border: 1px solid #666;
  background: #f7f7f7;
  left: 65px;
  top: 24px;
  border-radius: 100%;
}

.timeline-content p {
	margin: 0;
	padding: 0px 0px 10px 0px;
}


.timeline-content p a {
	font-style: italic;
	color: inherit;
	text-decoration: none;
}

.timeline-content p a:hover {
	text-decoration: underline;
}

ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}


}


/*
.launch:before, .talk:before, .move:before, .award:before, .job:before, .school:before, .music:before {
  content: '';
  width: 9px;
  height: 9px;
  position: absolute;
  left: 85px;
  margin-top: 8px;
  border-radius: 100%;
  border: 1px solid #666;
  background-color: #f7f7f7;
  z-index: 99;
  background-size: 9px 9px;
  background-position: center center;
  background-repeat: no-repeat;
}

.launch:before {
  background-image: url(../img/launch.png);
}

.talk:before {
  background-image: url(../img/talk.png);
}

.move:before {
  background-image: url(../img/move.png);
}


.award:before {
  background-image: url(../img/award.png);
}

.job:before {
  background-image: url(../img/job.png);
}

.school:before {
  background-image: url(../img/school.png);
}


.music:before {
}
*/




/* MUSIC */

.album {
	text-align: center;
	margin: 0 auto;
	margin: 100px 0;
	float:left;
	width: 100%;
	display: block;
}

.leftColumn {
	width: 50%;
	text-align: right;
	margin: 0 auto;
	float: left;
}

.rightColumn {
	width: 50%;
	padding-left: 40px;
	box-sizing: border-box;
	text-align: left;
	margin: 0 auto;
	float:left;
}

.rightColumn li {
	margin: 10px 0;
}
